
html {
    background: white;
}

body {
    padding: 1em;
}

header, section, nav, footer {
    margin: .5em;
    padding: 1.5em;
    border: 1px solid black;
}

header {
    border-radius: 7px 7px 0 0;
}

header a {
    font-size: 180%;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

nav {
    overflow: hidden;
    padding: .5em;
}

nav ul { 
    list-style-type: none; 
    padding: 0;
    margin: 0;
} 

nav ul li { 
    float: left;
    margin-left: 1em;
} 

nav ul li a { 
    font-weight: bold;
    text-decoration: none; 
} 

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 1em 1em 2em 1em;
}
section h1 {
}

footer {
    padding: .5em;
    border-radius: 0 0 7px 7px;
    text-align: right;
}

