## <%page cached="False" cache_timeout="15" cache_type="memory"/>
<%inherit file="/layout.mako" />

<% request_data['flags']['no_title_in_layout'] = True %>

<h1>Page Not Found</h1>

<p>The page you've requested wasn't found on our server.</p>

## vim:ft=mako
