<%inherit file="/layout.mako" />

<% request_data['flags']['no_title_in_layout'] = True %>

<h1>Congratulations!</h1>

<p>
    If you're seeing this in your browser, you've successfully
    set up <a href="http://www.fadelisk.org/">Fadelisk</a>,
    a web server where all HTML documents are templates.
</p>

<p>
    This is a simple example site using Fadelisk, when can do many,
    powerful things. This site is intentionally simplified to give you a
    starting point to see Fadelisk in action, to learn from, or even to
    use as a starting point for your own site.
</p>

## vim:ft=mako
