<%inherit file="/layout.mako" />

<p>
    This is a simple <a href="http://www.fadelisk.org/">Fadelisk</a>-based
    site that you can use 
    <ul>
        <li>to see Fadelisk in action,</li>
        <li>to learn about Fadelisk,</li>
        <li>to test your server, or even</li>
        <li>as a starting point to create your own site.</li>
    </ul>
</p>

<p>
    Use it as your sandbox. Check out the source, edit the files,
    and create new ones.
</p>

## vim:ft=mako
